* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	background-color: #DBDBEA;
}
a:hover, a:active {
	text-decoration: underline;
}
div {
	display: block;
}
main {
	width: 70%;
	margin: 0 auto;
}
td {
	width: 70px;
	height: 30px;
}
h2 {
	font-size: 21px;
}
/* header */
.header {
	height: 180px;
	color: #fff;
	position: relative;
	background: url(../img/bg-pattern.png) repeat center top;
}

.header .logo {
	width: 463px;
	height: 93px;
	position: absolute;
	margin-top: 24px;
	left: 0;
}	

.navigation {
	width: 100%;
	height: 35px;
	text-align: justify;
	position: absolute;
	margin-top: 128px;
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.navigation ul {
	display: table;
}

.navigation ul li {
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	table-layout: fixed;
	display: table-cell;
}
.navigation ul li a {
	color: #fff;
	font-size: 18px;
	line-height: 1;
	text-decoration: none;
	padding: 8px 24px;
	position: relative;
	text-shadow: 0 1px 1px #000;
	border-radius: 3px;
	display: inline-block;
}
.navigation ul li a.gradient.red {
	box-shadow: inset 0 1px 0 #990814;
}

.navigation ul li a.gradient.red:hover {
	background: linear-gradient(to bottom, #bfbfbf 5%, #cccccc 48%, #b3b3b3 48%, #999999 96%);
}
.navigation ul li a.gradient.red:focus {
	background: linear-gradient(to bottom, #dc4e4e 5%, #d63232 48%, #cc0000 48%, #9d0000 96%);
}
.gradient.border {
	position: relative;
}
.contacts {
	width: 175px;
	position: absolute;
	margin-top: 40px;
	right: 275px;
}
.membership {
	width: 215px;
	position: absolute;
	margin-top: 4px;
	right: 0;
}
.ftn.u {
	color: #fff;
	text-decoration: underline;
}
.membership a:not(first-of-type) {
	margin-left: 40px;
}
.cart {
	width: 215px;
    height: 83px;
    position: absolute;
    margin-top: 33px;
    right: 0;
}
.cart a {
	color: #fff;
}
/* footer */
.contentinfo {
	margin-top: 1200px;
	height: 144px;
	color: #fff;
	padding: 8px 0;
	background: url(../img/bg-pattern.png) repeat center top;
}
.contentinfo .copyright {
	font-size: 12px;
	position: absolute;
	left: 15px;
	margin-top: 82px;
}
/* aside */
aside {
	width: 14%;
	min-height: 100%;
	display: inline-block;
}
.xd-1.rd {
	width: 14%;
	height: 100%;
	padding: 0 15px 5px 0;
	margin: 10px 15px 10px 0;
	border-right: 1px solid #b9b9c8;
	box-shadow: 1px 0 0 #ececfb;
}
.pd {
	padding: 10px;
}
#season {
	width: 100%;
	margin: 10px 0;
	background-color: #fff;
}
/* main content */
.main {
	width: 85%;
	height: 100%;
	margin-left: 250px;
	margin-top: -180px;
	position: block; 
}
article {
	width: 180px;
	height: 200px;
	float: left;
	margin: 18px 4px 0 0;
	overflow: hidden;
}
.bs2 {
	border: 1px solid #d4d4e3;
	border-color: #d4d4e3 #afafbb #afafbb #d4d4e3;
	border-radius: 4px;
	box-shadow: 1px 1px 2px #bbb;
	background: #fff;
	width: 180px;
}

.info {
	width: inherit;
	height: 173px;
	position: relative;
	padding: 0 15px;
}
.footer {
	width: inherit;
	height: 28px;
	padding: 0 8px;
	background: #ececfb;
	vertical-align: middle;
	display: table-cell;
}
.fl {
	color: #747484;
	text-decoration: line-through;
	float: left;
}
.fnt.c {
	text-align: center;
}
.s16 {
	font-size: 16px !important;
	line-height: 125%;
}
.fr {
	color: #d80000;
	float: right;
}
/* auth */

.auth {
	width: 980px;
	height: 257px;
	background: #ECECFB;
	margin-top: 50px;
}
.bs1 {
	padding: 18px;
}
.h1 {
	font: 20px/1 "Myriad Pro";
	margin: 0 0 8px;
	padding: 13px 0;
	border-bottom: 1px solid #b9b9c8;
	box-shadow: inset 0 -1px 0 #fff;
}
.input {
	margin-left: 10px;
	margin-bottom: 20px;
	height: 30px;
	font-size: 18px;
	padding: 1px 5px;
	border-radius: 2px;
}
.label {
	min-width: 80px;
	display: inline-block;
	height: 30px;
	font-size: 18px;
	text-align: right;
}
.auth_btn {
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(81, 81, 81, 0.5);
	border: 1px solid #766c92;
	border-radius: 3px;
	box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.8), inset 0 0 3px rgba(255, 255, 255, 0.5);
	height: 31px;
	padding: 0 25px;
	background: linear-gradient(to bottom,#dc4e4e 5%,#d63232 48%,#cc0000 48%,#9d0000 96%);
	margin-left: 90px;
	cursor: pointer;
}
.word {
	text-decoration: underline; 
	text-transform: uppercase; 
	color: red;
}